<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">dotnetGigs</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li [routerLinkActive]="['link-active']" class="nav-item">
                <a [routerLink]="['/home']" class="nav-link">
                    <span class='sr-only'></span> Home
                </a>
            </li>
            <li *ngIf="IsLoggedIn()==true" [routerLinkActive]="['link-active']" class="nav-item">
                <a [routerLink]="['/admin']" class="nav-link">
                    <span class='sr-only'></span> Admin
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <login-button></login-button>
        </ul>
    </div>
</nav>